$color-main: #33658a;
$color-active: #d34815;
$color-task-text: #000;
$right-bgnd: #BDCDD6;
$container-bgnd: #fff;
$hover-text: #818C97;
$main-title-color: rgba(0, 0, 0, 0.5);

$margin-center: 0 auto;
$padd-cero: 0;