@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,900&display=swap");
body {
  padding: 1vh;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #1e6091;
  background-image: url("diagmonds-light.png");
  font-family: "Roboto", sans-serif;
}

.outer {
  width: auto;
  height: 90vh; /*altura del container*/
  border-radius: 20px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.wrapper1 {
  width: 8vw;
}

.gap {
  width: 1vw;
}

.wrapper2 {
  background-color: #fff;
  width: 70vw;
  padding: 1em;
  border-radius: 20px;
}

.main-title {
  margin: 0;
  padding: 0;
  width: 8vw;
  height: 90vh;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 12vh;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.1vw;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  text-align: center;
}

h1 {
  font-weight: bolder;
  font-size: 6vw;
  padding: 0;
  margin: 0;
}

h3 {
  display: inline-block;
  margin: 0 0.5rem;
}

.inner-nav {
  padding: 0;
  margin: 0 auto;
  width: 97%;
  background-color: #1e6091;
  border-radius: 18px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome {
  color: #fff;
  font-size: 2vw;
  margin: 0;
}

.row {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.col-3 {
  height: 75vh;
  padding: 2vw 0 0 1vw !important;
  background-color: #1e6091;
  border-radius: 18px 0 0 18px;
}

.create-list, .create-task {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.create-list {
  width: 15vw;
  padding: 0;
}

.create-task {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: none;
  padding: 0 1vw 0 1vw;
}

.add-button1, .add-button2 {
  color: #1e6091;
  width: 2em;
  height: 4vh;
  border-radius: 20%;
  border: 2px solid #1e6091 !important;
  cursor: pointer;
}

.list-group {
  margin-top: 2vw;
}

.list-group li:hover, .list-group li:focus {
  color: #818C97;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.list-box {
  border-radius: none !important;
  width: 15vw;
  align-items: center;
  text-transform: uppercase;
}

.active {
  background-color: #d34815 !important;
  border: none !important;
}

.col-9 {
  height: 75vh;
  background-color: #BDCDD6;
  border-radius: 0 18px 18px 0;
}

#list-group {
  display: none;
}

.newcateg {
  font-size: 2vw;
  color: #1e6091;
}

.btn {
  margin: 0;
  padding: 0;
  width: 2vw;
  height: 2vw;
  color: #fff;
  background-color: #d34815 !important;
  border: none !important;
  font-size: 1vw !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.card {
  background-color: #1e6091;
  color: white;
  padding: 1vh;
  margin: 1vh;
  font-size: 1.8vh;
  border: none;
  cursor: pointer;
  width: 9vw;
}

.card:hover, .card:focus {
  background-color: #d34815;
  color: white;
  text-decoration: none;
}

.btncard { /* close boton de tareas*/
  margin: 0;
  padding: 0;
  background-color: #d34815 !important;
  width: 3vw !important;
  height: 2vw !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.taskText {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2vw;
  margin-left: 1vw;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
}

.listEditor {
  font-size: 2.5em;
  color: #1e6091;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.create-new {
  height: 1vh !important;
  padding: 0 !important;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

.inputBox {
  width: 100%;
  padding: 0;
  margin: 0 1vw 0 1vw;
  border: none;
}

.list-group-item {
  height: 7vh !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.checkbox-container {
  margin: 0;
  padding: 0;
  width: 2vw !important;
  height: 2vw !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.checkbox-container input:checked {
  display: block;
}

.checked {
  background-color: #818C97;
  color: #000;
  -webkit-text-decoration: #d34815 2px solid line-through;
          text-decoration: #d34815 2px solid line-through;
}

@media only screen and (max-width: 800px) {
  .main {
    width: auto;
    height: auto;
    flex-direction: column;
  }
  .inner-nav {
    padding-left: 1vw !important;
    width: 97%;
    background-color: #d34815;
    border-radius: 18px;
  }
  h3 {
    font-size: 5vw !important;
    margin: 0 0.5rem;
  }
  .main-title {
    font-size: 5vh;
  }
  .col-3 {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    border-radius: 5px 5px 0 0;
  }
  .col-9 {
    width: 100%;
    height: auto;
    border-radius: 0 0 5px 5px;
  }
  .create-list {
    width: 100%;
    padding: 1vw;
    justify-content: center;
  }
  .new-list {
    width: 100%;
  }
  .list-group-item {
    width: 96%;
    margin: 0 auto;
    padding: 0;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */