* {
}


body {
    background-color: #000;
    color: #fff;
}
.container {
    border: 1px dashed #fff;
    margin: 0 auto;
    width: 80%;
    height: 600px;
}
h1 {
    color: yellowgreen;
    font-weight: bolder;
    font-size: 6vw;
    padding: 0;
    margin: 0;
}


.container-fluid{
    border: 3px dashed blue;
}

.row {
    height: 30vw;
    display: flex;
}

.col {
    border: 2px solid yellow;
    margin: 0;
    padding: 0;
}
.list-group {
    /*justify-content: stretch;*/
}

/* style temporal */
input {
    color: #000;
    width: 80%;
}

button {
    color: #000;
    width: 18%;
}